// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

// Custom colors
$bg_primary_color: #fff;
$bg_secondary_color: #00ccbc;
$bg_tertiary_color: #d0eb99;
$bg_complementary_color: #e2004f;
$bg_white: #fff;

// General Paddings
$pd_0: 0;
$pd_sm: 8px;
$pd_md: 16px;
$pd_lg: 24px;
$pd_xl: 32px;
$pd_xxl: 48px;

// General Margins
$m_0: 0;
$m_sm: 8px;
$m_md: 16px;
$m_lg: 24px;
$m_xl: 32px;
$m_xxl: 48px;

// Fonts
$font_primary_color: #000;

$font_light: 300;
$font_regular: 400;
$font_sbold: 600;
$font_bold: 800;

$font_size_sm: 12px;
$font_size_md: 16px;
$font_size_l: 24px;
$font_size_xl: 32px;
$font_size_xxl: 48px;

// Buttons
$bg_button_lc_color: #00ccbc;
$font_button_lc_color: #fff;

$bg_button_hc_color: #e2004f;
$font_button_hc_color: #fff;

// Border radius
$radius_sm: 8px;
$radius_md: 12px;
$radius_lg: 16px;
$radius_xl: 24px;
$radius_xxl: 32px;

// Banners Shadows
$banner_shadow: 0 20px 30px -16px rgba(9,9,16,0.2);
